.container{
    width: 1074px;
    margin: 0 auto;
    background: darkgray;
}

.topbar{
    border: 5px solid;
    border-color: red;
}

.logo-sec{
    border: 5px solid;
}

.logo{
    width: 75px;
    padding: 10px;
}

.search-sec{
    border: 5px solid;
    margin: auto;
    padding: 10px;
}

.search-box{
    text-align: center;
    width: 200px;
    padding: 10px;
}

#search-button{
    width: 85px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-weight: bolder;
}

#search-button:hover{
    color: black;
    background-color: rgb(202, 199, 202);
}

.login-sec{
    border: 5px solid;
    margin: auto 0;
    padding: 10px;
}

.login-sec a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.content{
    border: 5px solid purple;
}

.sidebar{
    width: 25%;
    border: 5px solid;
    flex: none;
}

.top-menu{
    margin: auto;
    padding: 10px;
    text-align: center;
} 

.top-menu h2{
    text-decoration: underline;
}

.top-menu ul{
    text-align: center;
    margin: auto;
}

.top-menu ul li{
    list-style-type: none;
    text-align: center;
    margin: auto;
    margin-left: -40px;
    padding: 5px;
}

.top-menu ul li a{
    text-decoration: none;
    color: floralwhite;
}

.top-menu ul li a:hover {
    color: black;
    font-weight: bold;
}

.center-menu{
    margin: auto;
    padding: 10px;
    text-align: center;
} 

.center-menu h2{
    text-decoration: underline;
}

.center-menu ul{
    text-align: center;
    margin: auto;
}

.center-menu ul li{
    list-style-type: none;
    text-align: center;
    margin: auto;
    margin-left: -40px;
    padding: 5px;
}

.center-menu ul li a{
    text-decoration: none;
    color: floralwhite;
}

.center-menu ul li a:hover {
    color: black;
    font-weight: bold;
}

.bottom-menu{
    margin: auto;
    padding: 10px;
    text-align: center;
} 

.bottom-menu h2{
    text-decoration: underline;
}

.bottom-menu ul{
    text-align: center;
    margin: auto;
}

.bottom-menu ul li{
    list-style-type: none;
    text-align: center;
    margin: auto;
    margin-left: -40px;
    padding: 5px;
}

.bottom-menu ul li a{
    text-decoration: none;
    color: floralwhite;
}

.bottom-menu ul li a:hover {
    color: black;
    font-weight: bold;
}

.mid-sec{
    width: 73.2%;
    border: 5px solid;
}

.big-heading{
    padding: 10px;
}

.big-heading-text{
    width: 45%;
}

.big-heading-text h1{
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}

.big-heading-text p{
    text-align: justify;
    font-family: "lato", sans-serif;
}

.big-heading-text input{
    padding: 8px;
    color: white;
    background-color: purple;
    border-radius: 5px;
    font-weight: bolder;
}

.big-heading-text input:hover{
    color: black;
    background-color: rgb(189, 62, 189);
}

.big-heading-img{
    width: 50%;
}

.big-heading-img img{
    width: 300px;
    padding: 15px;
    margin: auto 50px;
}

.services{
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}

.services div h1{
    text-align: center;
    padding: 10px;
}

.sec-1{
    width: 25%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.sec-1 img{
    width: 55px;
}

.sec-1 h3{
    font-weight: bolder;
    text-transform: uppercase;
}

.sec-1 p{
    font-size: 14px;
    line-height: 20px;
}

.sec-2{
    width: 25%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.sec-2 img{
    width: 55px;
}

.sec-2 h3{
    font-weight: bolder;
    text-transform: uppercase;
}

.sec-2 p{
    font-size: 14px;
    line-height: 20px;
}

.sec-3{
    width: 25%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.sec-3 img{
    width: 55px;
}

.sec-3 h3{
    font-weight: bolder;
    text-transform: uppercase;
}

.sec-3 p{
    font-size: 14px;
    line-height: 20px;
}

.contact-us{
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}

.contact-us div h1{
    padding: 10px;
    text-align: center;
}

.personal-info{
    /*border: 5px dashed;*/
}

.left-info{
    width: 50%;
    line-height: 40px;
}

.left-info input{
    padding: 5px;
    width: 190px;
}

.right-info{
    width: 50%;
    text-align: right;
    line-height: 30px;
}

.right-info input[type=email]{
    padding: 5px;
    width: 190px;
}

.right-info input[type=text]{
    padding: 5px;
    width: 190px;
}

#submit-button{
    width: 85px;
    padding: 8px;
    color: white;
    background-color: purple;
    border-radius: 5px;
    font-weight: bolder;
}

#submit-button:hover{
    color: black;
    background-color: rgb(189, 62, 189);
}

.footer{
    margin: auto;
    border: 5px solid turquoise;
}

.footer-left{
    font-size: 12px;
    font-style: italic;
    width: 50%;
    padding: 10px;
}

.footer-right{
    width: 50%;
    text-align: right;
    margin: auto;
    padding: 10px;
}

.footer-right img{
    height: 25px;
}

.column{
    display: flex;
}
.row{
    display: block;
}
